<section>
  <h1>Choisis un personnage historique</h1>

  <figure>
    <img *ngIf="f.value.name.thumbnail" [src]="f.value.name.thumbnail" [alt]="f.value.name.name">
    <figcaption *ngIf="f.value.name.thumbnail">
      <b>{{f.value.name.name}}</b>
      <span>
        [{{getYear(f.value.name.dob)}} - {{getYear(f.value.name.dod)}}]
        {{f.value.name.description}}
      </span>
    </figcaption>
  </figure>


  <form [formGroup]="f" (ngSubmit)="submit()">
    <div class="name">
      <mat-form-field>
        <input #input type="text" placeholder="Personnage historique" matInput formControlName="name"
          [matAutocomplete]="auto">
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-flat-button color="primary" [disabled]="f.invalid">Suivant</button>
    </div>

  </form>
</section>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
  <mat-option *ngFor="let option of options" [value]="option">
    <span class="option"><span class="name">
        <app-emphase [text]="option.name" [emphase]="input.value"></app-emphase>
      </span><span class="description">[{{getYear(option.dob)}} - {{getYear(option.dod)}}]
        {{option.description}}</span></span>
  </mat-option>
</mat-autocomplete>

<!-- {{f.value | json}} -->