<section>
  <h1>Choisis un personnage historique</h1>
  <!-- <app-photo-picker [list]="list"></app-photo-picker> -->

  <form [formGroup]="f">
    <div class="name">
      <mat-form-field>
        <input type="text" placeholder="Personnage historique" matInput formControlName="name" [matAutocomplete]="auto">
      </mat-form-field>
    </div>
    <div class="name">
      <button mat-raised-button color="primary">Suivant</button>
    </div>

  </form>
</section>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">
    {{ option }}
  </mat-option>
</mat-autocomplete>