<section>
  <h1>Choisis un personnage historique</h1>
  <!-- <app-photo-picker [list]="list"></app-photo-picker> -->

  <form [formGroup]="f" (ngSubmit)="submit()">
    <div class="name">
      <mat-form-field>
        <input #input type="text" placeholder="Personnage historique" matInput formControlName="name" [matAutocomplete]="auto">
      </mat-form-field>
    </div>
    <div class="name">
      <button mat-flat-button color="primary" [disabled]="f.invalid">Suivant</button>
    </div>

  </form>
</section>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let option of options" [value]="option">
    <span class="option"><span class="name"><app-emphase [text]="option.name" [emphase]="input.value"></app-emphase></span><span class="description">{{option.description}}</span></span> 
  </mat-option>
</mat-autocomplete>
