form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 30em;
    margin: 0 auto;

    >div.name {
        flex-grow: 1;
        padding: 0 1em;
    }

    >div.button {
        flex-grow: 0;
        padding: 0 1em;
    }

    mat-form-field {
        width: 100%;
        min-width: 16em;
    }

}

span.option {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1em;
    justify-content: space-between;

    .name {
        color: #3f51b5;
    }

    .description {
        display: block;
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

figure {
    display: block;
    border: 1px solid #ddd;
    height: 12em;
    width: 12em;
    padding: 0.5em;
    margin: 1em auto;

    img {
        display: block;
        margin: 0 auto;
        height: 8em;
    }

    figcaption {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-end;
        height: 6em;
        font-size: 0.5em;
        span {
            display: block;
            text-align: center;
        }
    }   

}