<section>
  <h1>Statistiques sur {{name}}</h1>
  <h2>Nombres de descendants</h2>
  <p>{{name}} à <span class="total">{{deadCount + aliveCount}}</span> descendants,
  </p>
  <p>
    dont <span class="total">{{aliveCount}}</span> actuellement en vie.
  </p>

  {{ current | json }}
  <h2>Histogramme par siècle</h2>
  <div class="histo"></div>
  <h2>Lieux des naissances</h2>
  <div class="birth-place"></div>
  <h2>Histogramme des professions</h2>
  <div class="histo"></div>
  <h2>Liste des survivants</h2>
  <div class="histo" routerLink="/ancestors"></div>
</section>