/* You can add global styles to this file, and also import other style files */

@import '../node_modules/normalize.css/normalize.css';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

[routerlink] {
    cursor: pointer;
}

section {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 0.5em;
}

h1 {
    text-align: center;
}
